* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-weight: 300;
    position: relative;
    height: 100%;
}

/* Header and Hero Styles */
.header-text, .about-text {
    text-align: center;
}

.header-400 {
    font-size: 400%;
}

.header-300 {
    font-size: 300%;
}

.header-200 {
    font-size: 200%;
}

#home-header, #about-header, #contact-header {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-box {
    width: 70%;
    background-color: red;
    height: 750px;
    margin: 0 15%;
    position: relative;
}

#hero {
    background-color: none;
}

/* Home Page Gallery Styles */
.imgsquare {
    background-color: blue;
    width: 500px;
    height: 500px;
    display: inline-block;
}

.imgrectangle {
    background-color: blue;
    width: 750px;
    height: 500px;
    display: inline-block;
}

.onright {
    margin-left: 2.5%;
}

.onleft {
    margin-right: 2.5%;
}

#imgpairs {
    margin: 5% 15%;
}

/* About Page Styles */
#about-me {
    margin: 5% 15%;
}

#about-me-img {
    height: 500px;
    width: 500px;
    background-color: blue;
    float: left;
}

#about-me-text {
    height: 500px;
    max-width: 60%;
    background-color: red;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me-text p {
    font-size: 200%;
    text-align: center;
    margin: 0 10%;
}

/* Contact Form Styles */
.label {
    margin-left: 10%;
}

#form-outer {
    margin: 0 0 0 15%;
    width: 35%;
    float: left;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.input-box, #department {
    width: 75%;
    margin: 0 10%;
    border: 3px solid #000;
}

#message-box {
    width: 75%;
    margin: 0 10%;
    height: 500px;
    resize: none;
    border: 3px solid #000;
}

#submit {
    width: 30%;
    margin: 10px 35%;
    border: 3px solid #000;
}

/* Address and Location Styles */

#location {
    float: right;
    width: 35%;
    margin: 0 15% 0 0;
    background-color: green;
    height: 700px;
}

#address, #map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 200%;
    text-align: center;
}

#map {
    margin: 5%;
    background-color: #000;
    height: 300px;
}

/* Game Area Styles */
#game-img-outer, #game-img, #game-area-outer, #game-area {
    height: 500px;
    width: 70%;
    margin: auto;
}



#game-img-outer {
    background-color: aqua;
    margin-bottom: 5%;
}

#game-img {
    background-color: blue;
}

#game-area-outer {
    background-color: burlywood;
}

#game-area {
    background-color: blueviolet;
}

/* Footer Styles */

.nav-footer {
    font-size: 150%;
    list-style-type: none;
    display: inline-block;
    margin: 2%;
}

#nav-footer-outer {
    text-align: center;
}

#social-networks-list {
    height: 80px;
}

#social-networks-list-outer {
    text-align: center;
}

#social-networks-list, .social-networks {
    list-style-type: none;
    display: inline-block;
}

.social-networks img {
    height: 100px;
    width: 100px;
}

