* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-weight: 300;
    position: relative;
    height: 100%;
}

/* Background Style */

.spacer {
    height: 400px;
}

#gallery, .spacer, #game, #footer {
    background-color: #1fb8ff;
    width: 80%;
    margin: 0 auto;
    
}

/* Header and Hero Styles */
.header-text, .about-text {
    text-align: center;
}

.header-text a:hover {
    border-bottom: 3px solid #ff00b3;
}

.header-400 {
    font-size: 400%;
}

.header-300 {
    font-size: 300%;
}

.header-200 {
    font-size: 200%;
}

#home-header, #about-header, #contact-header {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home-header, #home-header a {
    color: #5eff24;
    text-decoration: none;
}

.header-box {
    width: 80%;
    height: 750px;
    margin: 0 auto;
    position: relative;
    background-color: #1fb8ff;
}

#hero {
    width: 90%;
    margin: 0 5%;
    height: inherit;
    object-fit: cover;
}

/* Home Page Gallery Styles */
.imgsquare, .imgrectangle {
    width: 500px;
    height: 500px;
    display: inline-block;
}

.imgrectangle {
    width: 750px;
}

.onright {
    float: right;
}

.onleft img, .onright img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}

#imgpairs {
    padding: 5%;
}

/* About Page Styles */
#about-me {
    margin: 5% 0;
    background-color: #1fb8ff;
    width: 80%;
    margin: 0 auto;
}

#about-me-img {
    height: 500px;
    width: 500px;
    background-color: blue;
    float: left;
    margin-left: 2.5%;
}

#about-me-text {
    height: 500px;
    max-width: 60%;
    background-color: red;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5%;
}

#about-me-text p {
    font-size: 200%;
    text-align: center;
    margin: 0 10%;
}

/* Contact Form Styles */
.label {
    margin-left: 10%;
}

#form-outer {
    margin: 0 0 0 15%;
    width: 34%;
    float: left;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    border-radius: 25px;
    border: 3px solid #000;
}

.input-box, #message-box {
    width: 75%;
    margin: 0 10%;
    border: 3px solid #000;
}

#message-box {
    height: 500px;
    resize: none;
}

#submit {
    width: 30%;
    margin: 10px 35%;
    border: 3px solid #000;
}

/* Address and Location Styles */

#location {
    float: right;
    width: 34%;
    margin: 0 15% 0 0;
    background-color: green;
    height: 700px;
    border-radius: 25px;
    border: 3px solid #000;
}

#address, #map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 150%;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #000;
    margin: 5%;
}

#address {
    margin: 5%;
    background-color: bisque;
}

#map {
    margin: 0 5%;
    width: 90%;
}

.mapouter, .gmap_canvas {
    height:inherit;
    width: 100%;
}

.mapouter {
    position:relative;
    text-align:right;
}

.gmap_canvas {
    overflow:hidden;
    background:none
    !important;
}

.gmap_canvas iframe {
    height:inherit;
    width: 100%;    
    border-radius: 25px;
}

/* Game Area Styles */
#game-img-outer, #game-area-outer {
    height: 600px;
    width: 70%;
    margin: auto;
}

#game-img, #game-area {
    height: 600px;
    width: 600px;
    margin: auto;
}

#game-img-outer {
    background-color: aqua;
    margin-bottom: 5%;
}

#game-img {
    background-color: blue;
}

#game-area-outer {
    background-color: burlywood;
}

#game-area {
    background-color: blueviolet;
}

/* Footer Styles */

#social-networks-list, .social-networks, .nav-footer {
    list-style-type: none;
    display: inline-block;
}

.nav-footer {
    font-size: 150%;
    margin: 2%;
}

#nav-footer-outer, #social-networks-list-outer {
    text-align: center;
}

#social-networks-list {
    height: 80px;
}

.social-networks img {
    height: 100px;
    width: 100px;
}

